{
    "Token": "xxx",
    "UrlCount": "https://youfoodz.myshopify.com/admin/products/count.json",
    "UrlList": "https://youfoodz.myshopify.com/admin/products.json",
    "_UrlList": "http://localhost/products.json",
    "Limit": 50
}